:focus {
    outline: 4px;
    font-weight: bold;
}

body {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topText {
    font-weight: bold;
    font-size: 50px;
    font-style: italic
}

input {
    font-size: large;
    font-weight: bold;
}

.search-container {
    top: 50%;
}

ul {
    list-style-type: none;
    max-height: 30vw;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

ul li:hover {
    background-color: rgba(0, 255, 0, 0.148);
    font-weight: bold;
}

/* test */